[submodule "dependancies/gegl"]
	path = dependancies/gegl
	url = https://git.gnome.org/browse/gegl
[submodule "dependancies/babl"]
	path = dependancies/babl
	url = https://git.gnome.org/browse/babl
[submodule "dependancies/gegl-qt"]
	path = dependancies/gegl-qt
	url = git://git.gnome.org/gegl-qt
