3rdParty
CMakeCache.txt
CMakeFiles
/dependancies/*-prefix
/target/
/dependancies/cmake_install.cmake
/dependancies/ffi/
/dependancies/gettext/
/dependancies/glib/
/dependancies/iconv/
/dependancies/jpeg/
/dependancies/lcms/
/dependancies/pcre/
/dependancies/zlib/
/dependancies/exiv2/
/dependancies/libraw/
/dependancies/gegl/
/dependancies/babl/
/dependancies/expat/
/dependancies/png/
/dependancies/gexiv2/
/dependancies/json-glib/
/native
